<a href="https://colab.research.google.com/github/amlzhrara/stunning-waddle/blob/master/MarketBasketAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
df = pd.read_csv("/content/drive/MyDrive/data/transaksi_dqlab_retail.tsv", sep = '\t')

In [3]:
df.head()

  Kode Transaksi              Nama Barang
0             #1                     Kaos
1             #1             Shampo Biasa
2             #1      Sepatu Sport merk Z
3             #1            Serum Vitamin
4             #1  Baju Renang Pria Dewasa

In [4]:
df.rename(columns={"Kode Transaksi" : "kode"}, inplace = True)
df.rename(columns={"Nama Barang" : "nama_item"}, inplace = True)

In [5]:
df.head()

  kode                nama_item
0   #1                     Kaos
1   #1             Shampo Biasa
2   #1      Sepatu Sport merk Z
3   #1            Serum Vitamin
4   #1  Baju Renang Pria Dewasa

In [6]:
count = df['nama_item'].value_counts() 
print(count)

Shampo Biasa               2075
Serum Vitamin              1685
Baju Batik Wanita          1312
Baju Kemeja Putih          1255
Celana Jogger Casual       1136
                           ...
Tali Ban Ikat Pinggang       27
Pelembab                     24
Stripe Pants                 19
Tas Kosmetik                 11
Celana Jeans Sobek Pria       9
Name: nama_item, Length: 69, dtype: int64

In [7]:
count.head(10)

Shampo Biasa                 2075
Serum Vitamin                1685
Baju Batik Wanita            1312
Baju Kemeja Putih            1255
Celana Jogger Casual         1136
Cover Koper                  1086
Sepatu Sandal Anak           1062
Tali Pinggang Gesper Pria    1003
Sepatu Sport merk Z           888
Wedges Hitam                  849
Name: nama_item, dtype: int64

In [8]:
count.tail(10)

Dompet Unisex                 75
Tas Sekolah Anak Perempuan    71
Atasan Baju Belang            56
Hair Dye                      46
Baju Renang Pria Anak-anak    32
Tali Ban Ikat Pinggang        27
Pelembab                      24
Stripe Pants                  19
Tas Kosmetik                  11
Celana Jeans Sobek Pria        9
Name: nama_item, dtype: int64

In [10]:
group_item = df.groupby('kode')['nama_item'].apply(lambda x: list(x))

In [11]:
group_item.head()

kode
#1       [Kaos, Shampo Biasa, Sepatu Sport merk Z, Seru...
#10      [Jeans Jumbo, Celana Pendek Jeans, Kaos, Baju ...
#100     [Hair Dryer, Shampo Biasa, Hair Tonic, Sepatu ...
#1000    [Celana Jeans Sobek Wanita, Celana Pendek Jean...
#1001    [Hair Dryer, Wedges Hitam, Sepatu Sport merk Z...
Name: nama_item, dtype: object

In [14]:
basket = (df.groupby(['kode', 'nama_item'])['nama_item'].count().unstack().reset_index().fillna(0).set_index('kode'))
basket.head()

nama_item  Atasan Baju Belang  ...  Woman Ripped Jeans
kode                           ...
#1                        0.0  ...                  0.0
#10                       0.0  ...                  0.0
#100                      0.0  ...                  0.0
#1000                     0.0  ...                  0.0
#1001                     0.0  ...                  0.0

[5 rows x 69 columns]

In [ ]:
#def encode_units(x):
#    if x <= 0:
#        return 0
#    if x >= 1:
#        return 1
#basket_sets = basket.applymap(encode_units)
#basket_sets.head())

In [26]:
# Build up the frequent items 
frequent = apriori(basket, min_support=10/len(df), max_len=3, use_colnames=True)
frequent

        support                                           itemsets
0      0.016232                               (Atasan Baju Belang)
1      0.118841                                (Atasan Kaos Putih)
2      0.380290                                (Baju Batik Wanita)
3      0.121159                 (Baju Kaos Anak - Karakter Kartun)
4      0.115942                     (Baju Kaos Anak - Superheroes)
...         ...                                                ...
32527  0.001159             (Tas Tangan, Wedges Hitam, Tas Travel)
32528  0.012174          (Tas Waist Bag, Wedges Hitam, Tas Travel)
32529  0.000870   (Tas Waist Bag, Woman Ripped Jeans , Tas Travel)
32530  0.003478    (Woman Ripped Jeans , Wedges Hitam, Tas Travel)
32531  0.001739  (Tas Waist Bag, Wedges Hitam, Woman Ripped Jea...

[32532 rows x 2 columns]

In [27]:
# Create the rules
rules = association_rules(frequent, metric="lift", min_threshold=1)
rules.head(5)

                          antecedents  ... conviction
0  (Baju Kaos Anak - Karakter Kartun)  ...   1.002964
1                (Atasan Baju Belang)  ...   1.025314
2                (Atasan Baju Belang)  ...   1.020012
3                (Baju Kaos Olahraga)  ...   1.003313
4                (Atasan Baju Belang)  ...   1.040685

[5 rows x 9 columns]

In [17]:
rules.sample(10)

                                             antecedents  ... conviction
18580                     (Baju Kaos Anak - Superheroes)  ...   1.017781
12378                             (Obat Penumbuh Rambut)  ...   1.010937
58964                  (Kaos, Celana Pendek Green/Hijau)  ...   1.012680
16811                              (Sepatu Sport merk Z)  ...   1.001454
35764                   (Tas Makeup, Dompet Card Holder)  ...   1.030512
20332  (Sepatu Kulit Casual, Baju Kaos Anak - Superhe...  ...   1.251905
44728                         (Blouse Denim, Tas Travel)  ...   1.156710
69852                    (Shampo Biasa, Cream Whitening)  ...   1.010931
96715                                       (Tas Travel)  ...   1.006381
88468                               (Sepatu Sandal Anak)  ...   1.012963

[10 rows x 9 columns]

In [18]:
rules_new = pd.DataFrame(rules[ (rules['lift'] >= 1) & (rules['confidence'] >= 0.5) ])

In [19]:
rules_new.sort_values(by=['lift'], ascending = False, inplace=True)

In [20]:
rules_new.head(10)

                                             antecedents  ... conviction
69896                    (Stripe Pants, Cream Whitening)  ...        inf
96420                           (Tank Top, Stripe Pants)  ...        inf
32904           (Tas Makeup, Tas Sekolah Anak Perempuan)  ...        inf
32487  (Baju Renang Anak Perempuan, Sepatu Sekolah Hi...  ...        inf
32888                  (Tas Makeup, Tas Pinggang Wanita)  ...   7.905275
32914                           (Tas Makeup, Tas Travel)  ...   5.181812
32355                 (Obat Penumbuh Rambut, Tas Makeup)  ...   4.820290
88840                        (Stripe Pants, Koper Fiber)  ...   2.905217
32894                      (Tas Makeup, Tas Ransel Mini)  ...   3.649648
56940               (Celana Pendek Casual, Stripe Pants)  ...   3.138841

[10 rows x 9 columns]

In [21]:
#rules_new['rhs items'] = rules_new['consequents'].apply(lambda x:len(x))
#rules_new.head()

In [22]:
rules_product = pd.DataFrame(rules[ (rules['lift'] >= 1) & (rules['confidence'] >= 0.1) ])

In [28]:
#rules[rules.antecedents.apply(str).str.contains("101 Dalmatians")].sort_values('lift', ascending=False)
tasmakeup = rules_product[rules_product.consequents.apply(str).str.contains("Tas Makeup")].sort_values('lift', ascending=False)
tasmakeup.head(3)

                                             antecedents  ... conviction
32487  (Baju Renang Anak Perempuan, Sepatu Sekolah Hi...  ...        inf
32889                       (Baju Renang Anak Perempuan)  ...   1.392345
32915                       (Baju Renang Anak Perempuan)  ...   1.375893

[3 rows x 9 columns]

In [29]:
renangpria = rules_product[rules_product.consequents.apply(str).str.contains("Baju Renang Pria Anak-anak")].sort_values('lift', ascending=False)
renangpria.head(3)

                                    antecedents  ... conviction
34072             (Tas Waist Bag, Gembok Koper)  ...   1.365593
33881      (Gembok Koper, Flat Shoes Ballerina)  ...   1.218104
33266  (Jeans Jumbo, Celana Jeans Sobek Wanita)  ...   1.127129

[3 rows x 9 columns]